@page "/commonSamples"
@page "/commonSamples/{SampleId}"
@using Ab4d.SharpEngine.Browser
@using Ab4d.SharpEngine.Common
@using Ab4d.SharpEngine.Samples.Common
@using Ab4d.SharpEngine.Samples.Blazor.UIProvider
@using Ab4d.SharpEngine.Samples.Common.Cameras
@inject NavigationManager Navigation

<PageTitle>Ab4d.SharpEngine.Web - Common samples</PageTitle>

<div class="ui-container">
    <SharpEngineSceneView @ref="sharpEngineSceneView" style="display: block; width: 100%; height: 100%;"></SharpEngineSceneView>
    
    <div style="position: absolute; margin: 10px; left: 0; top: 0;">
        <h3>@sample_title</h3>
        <span style="white-space: pre-wrap;">@sample_subtitle</span>
        
@*         <br/>
        @if (string.IsNullOrEmpty(SampleId))
        {
            <p>No sample selected.</p>
        }
        else
        {
            <p>Showing sample: @SampleId</p>
        } *@
    </div>

    @if (_uiProvider != null)
    {
        foreach (var rootElement in _uiProvider.GetRootUIElements())
        {
            @rootElement.BlazorElement
        }
    }
</div>

@code {
    [Parameter]
    public string? SampleId { get; set; }

    private const string? StartupSample = "AdvancedModels.InstancedMeshNodeSample";

    private const bool ShowCaptureInSpector = true;

    private SharpEngineSceneView sharpEngineSceneView = null!;
    private string sample_title = "";
    private string sample_subtitle = "";

    public SharpEngineSceneView? MainSceneView => sharpEngineSceneView;

    private CommonSample? _currentCommonSample;
    private CommonSample? _lastInitializedSample;
    private PointerCameraController? _pointerCameraController;
    private BlazorUIProvider? _uiProvider;

    public CommonSample? CurrentCommonSample
    {
        get => _currentCommonSample;
        set
        {
            _currentCommonSample = value;
            InitializeCommonSample();
        }
    }

    protected override void OnParametersSet()
    {
        // This is called BOTH:
        // - when navigating to the page
        // - AND when the parameter changes while staying on the same page
        //Console.WriteLine($"Sample changed to: {SampleId}");

        if (SampleId != null && !SampleId.EndsWith(".md", StringComparison.Ordinal))
        {
            if (CurrentCommonSample != null)
            {
                CurrentCommonSample.Dispose();
                CurrentCommonSample = null;
            }

            if (SampleId.EndsWith(".razor"))
            {
                Navigation.NavigateTo(SampleId[..^6]); // remove ending ".razor"
                return;
            }

            var createdSample = (CommonSample?)CommonSample.CreateSampleObject(uiFramework: "Blazor", SampleId, BlazorSamplesContext.Current, errorMessage => Console.WriteLine(errorMessage));
            CurrentCommonSample = createdSample;
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        // Create the UI provider with a callback to trigger re-rendering
        _uiProvider = new BlazorUIProvider(() => StateHasChanged());
    }

    /// <inheritdoc />
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            BlazorSamplesContext.Current.RegisterCurrentSharpEngineSceneView(sharpEngineSceneView);
            
            sharpEngineSceneView.SceneView.BackgroundColor = Colors.LightSkyBlue;

            if (sharpEngineSceneView.IsInitialized)
                LoadSample();
            else
                sharpEngineSceneView.SceneViewInitialized += (sender, args) => LoadSample(); // Wait until the sharpEngineSceneView is created
        }
    }

    private void LoadSample()
    {
        if (_currentCommonSample != null)
            InitializeCommonSample(); // Sample was already created - we just need to show it after the sharpEngineSceneView is created
        else
            SampleId = StartupSample; // Setting SampleId will load the StartupSample
    }

    private void ResetSample()
    {
        sample_title = "";
        sample_subtitle = "";

        if (MainSceneView != null)
        {
            // Remove all lights (new sample will set setup their own lights)
            MainSceneView.Scene.Lights.Clear();

            // // Remove any registered event sources or drag surfaces
            // _inputEventsManager.ResetEventSources();
            // _inputEventsManager.RemoveAllDragSurfaces();

            // Call DisposeAllChildren on RootNode.
            // Here we will also dispose all meshes and materials with textures (textures that are cached by the Scene or GpuDevice are not disposed).
            // We also set runSceneCleanup to true so the Scene.Cleanup method is also called to release free empty memory blocks.
            // Note that we must not dispose the RootNode without disposing the Scene.
            MainSceneView.Scene.RootNode.DisposeAllChildren(disposeMeshes: true, disposeMaterials: true, disposeTextures: true, runSceneCleanup: true);
        }

        _lastInitializedSample = null;
    }

    private void InitializeCommonSample()
    {
        if (_lastInitializedSample == _currentCommonSample)
            return; // already initialized

        ResetSample();

        if (_currentCommonSample == null || MainSceneView == null)
            return;

        _currentCommonSample.InitializeSharpEngineView(MainSceneView);
        //_currentCommonSample.InitializeInputEventsManager(_inputEventsManager);

        if (_uiProvider != null)
        {
            _currentCommonSample.CreateUI(_uiProvider);

            if (ShowCaptureInSpector)
            {
                if (_uiProvider.CurrentPanel == null)
                    _uiProvider.CreateStackPanel(PositionTypes.Bottom | PositionTypes.Right);

                _uiProvider.AddSeparator();
                _uiProvider.CreateButton("Capture frame in Spector", () => _ = CaptureNextFrame());
            }
        }

        // Set Title and Subtitle after initializing UI, because they can be changed there
        sample_title = _currentCommonSample.Title;
        sample_subtitle = _currentCommonSample.Subtitle ?? "";

        //MainSceneView.Scene.SetCoordinateSystem(CoordinateSystems.ZUpRightHanded);

        if (_currentCommonSample != null)
        {
            if (_pointerCameraController == null) // if _pointerCameraController is not null, then InitializePointerCameraController was already called from InitializeCommonSample
            {
                // Because we render a gradient in background RootBorder and we have set MainSceneView.IsHitTestVisible to false
                // we need to set a custom eventsSourceElement when creating the PointerCameraController
                _pointerCameraController ??= new PointerCameraController(MainSceneView.SceneView);
            }

            _currentCommonSample.InitializePointerCameraController(_pointerCameraController);
        }

        _lastInitializedSample = _currentCommonSample;
    }

    private async ValueTask CaptureNextFrame()
    {
        bool success = await sharpEngineSceneView.CanvasInterop.StartSpectorCapture();

        if (!success)
        {
            Console.WriteLine("Cannot start Spector capture.");
            return;
        }

        sharpEngineSceneView.SceneView.Render(forceRender: true);

        sharpEngineSceneView.CanvasInterop.StopSpectorCapture();
    }
}
