@inherits LayoutComponentBase
<div class="page" style="background: #333; height: 100%;">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main style="padding: 0.5rem !important; height: 100%;">
        <article style="background: white; height: 100%;">
            @Body
        </article>
    </main>
</div>
