.nav-submenu-link {
    height: 1.5rem !important;
}

.nav-title {
    font-weight: bold !important;
    padding-bottom: 0.2rem;
    color: #eee !important;
}

.btn-toggle {
    background: none;
    border: none;
    padding-left: 0;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    min-height: 3.5rem;
    background: #333;
    padding-bottom: 1.1rem;
}

.navbar-brand {
    font-size: 1.1rem;
    font-weight: bold;
}

.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item ::deep a {
        color: #d7d7d7;
        display: flex;
        align-items: center;
        line-height: 1.1rem;
        padding: 0.1rem 0.1rem 0rem 1rem;
        border-bottom: 1px solid transparent;
    }

    .nav-item ::deep a.active {
        color: white;
        border-bottom: 1px solid #FFBC57;
    }

    .nav-item-selected {
        color: white !important;
        border-bottom: 1px solid #FFBC57 !important;
    }

    .nav-item ::deep a:hover {
        border-bottom: 1px solid #FFBC5777 !important;
    }

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 6.1rem);
        overflow-y: auto;
    }
}
